# yarn

/.yarn/*
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks

# zero install
#!/.yarn/cache
# or
# not to zero install
/.pnp.*

node_modules


# env

.env*
!.env.sample

# nyc

.nyc_output


# etc

build
